<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="https://i.pinimg.com/564x/8a/93/bc/8a93bcd4be11d590b79ce1ebb3be5af2.jpg" alt="Chat Grupal Image">
    <div class="text-container">
      <h2>   Chat Grupal</h2>
    </div>
  </div>
  <div class="button-container">
    <ion-button expand="block" color="primary" expand="block" routerLink="/grupo-uno">Grupo Uno</ion-button>
    <ion-button expand="block" color="secondary">Grupo Dos</ion-button>
    <ion-button expand="block" color="tertiary">Grupo Tres</ion-button>
  </div>
</ion-content>

<style>
  .image-container {
    display: flex;
    justify-content: flex-start; /* Alinea la imagen a la izquierda */
    align-items: center;
    padding-top: 20px; /* Espacio opcional superior */
    padding-left: 20px; /* Espacio opcional a la izquierda */
  }

  .image-container img {
    border-radius: 50%;
    width: 100px; /* Tamaño ajustado */
    height: 100px; /* Tamaño ajustado */
    object-fit: cover;
    margin-right: 30px; /* Espacio entre la imagen y el texto */
  }

  .text-container h2 {
    margin: 2;
    font-size: 24px;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .button-container ion-button {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
  }
</style>
